/* .container{
    content: "";
    border: 2px dashed;
    ;
} */

/* .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    align-items: center;
    
} */

 body{
    background-color: rgba(0, 0, 0, 0.863);
 }

 /* .item{
    flex-grow: 1;
 } */
 
 

 .container{
    /* height: 50vh; */
    display: flex;
    height: 500px;
    
 }

 .container{
    border: dashed ;
 }
 .item:nth-child(2){
    flex-grow: 2;
 }