

/* section:has(div:hover){
div:nth-child(2){
    background-color: blue;
}

/* div{
    position: relative;
} */

.container{
    content: "";
    border: 2px dashed;
    ;
}

.container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    align-items: center;
    
}
/* div:nth-child(1){
    margin-left: auto;
} */